<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
<!-- Find fuides how to use this template and the latest templates on https://github.com/SnowSoftwareGlobal/agent-configuration-templates-public -->
    <Agent>
        <SiteName></SiteName>
        <ConfigName></ConfigName>
    </Agent>
    <!-- Server end point settings to send snowpack file after agent scan -->
    <Server>
        <Endpoint>
            <Address></Address>
            <!-- Proxy settings to use for this endpoint -->
            <Proxy></Proxy>
            <!-- The client certificate used to secure the connection between agent and server -->
            <ClientCertificate>
                <!-- The file name of a client certificate to use (relative the current installation location)-->
                <FileName></FileName>
                <!-- The password to use if the client certificate has been password protected -->
                <Password></Password>
            </ClientCertificate>
        </Endpoint>
    </Server>
    <!-- Delivery location for scan results -->
    <DropLocation>
        <Path></Path>
    </DropLocation>
    <!-- Configuration for File System scan-->
    <Software>
        <!-- Only if Include is specified a disk scan will be initiated. -->
        <Include>
            <Path recursive="true" unconditionally="false">/*</Path>
        </Include>
        <IncludeCriteria>
            <!-- Standard file system on AIX -->
            <FileSystem>jfs</FileSystem>
            <FileSystem>jfs2</FileSystem>
            <!-- Executable formats on different Unix systems. -->
            <FileType>ELF*executable*</FileType>
            <FileType>64-bit XCOFF executable*</FileType>
            <FileType>executable (RISC System/6000)*</FileType>
            <FileType>PA-RISC*executable*</FileType>
            <!-- Jar files on AIX -->
            <FileType>PKZIP (.zip)*</FileType>
        </IncludeCriteria>
        <Exclude>
            <!-- Normal temporary directories on Unix systems. -->
            <Path>/tmp*</Path>
            <Path>/var/tmp*</Path>
            <!-- Oracle audit files can be numerous. -->
            <Path>*/oracle/*/audit*</Path>
            <!-- Common non-relevant file extensions -->
            <Path>*.au</Path>
            <Path>*.bmp</Path>
            <Path>*.bmu</Path>
            <Path>*.cfg</Path>
            <Path>*.class</Path>
            <Path>*.conf</Path>
            <Path>*.csm</Path>
            <Path>*.css</Path>
            <Path>*.dic</Path>
            <Path>*.enc</Path>
            <Path>*.gif</Path>
            <Path>*.h</Path>
            <Path>*.htm</Path>
            <Path>*.html</Path>
            <Path>*.jpg</Path>
            <Path>*.js</Path>
            <Path>*.log</Path>
            <Path>*.mo</Path>
            <Path>*.mof</Path>
            <Path>*.packlist</Path>
            <Path>*.pcf</Path>
            <Path>*.pc</Path>
            <Path>*.pf</Path>
            <Path>*.pl</Path>
            <Path>*.png</Path>
            <Path>*.po</Path>
            <Path>*.properties</Path>
            <Path>*.rdf</Path>
            <Path>*.sdl</Path>
            <Path>*.so</Path>
            <Path>*.sql</Path>
            <Path>*.ttf</Path>
            <Path>*.txe</Path>
            <Path>*.txt</Path>
            <Path>*.utf8</Path>
            <Path>*.xml</Path>
            <Path>*.xpt</Path>
            <Path>*.zip</Path>
        </Exclude>
    </Software>
    <!-- Scanning for Oracle databases, requires SIOS  -->
    <Oracle enabled="true">
        <!-- If no user credential for specific Instance is given this is used on all other Intances. -->
        <!-- <DefaultInstanceCredentials>
            <UserName></UserName>
            <Password></Password>
        </DefaultInstanceCredentials> -->
        <Include>
            <!-- Either AllInstances or one or more <Instance> -->
            <AllInstances>true</AllInstances>
        </Include>
    </Oracle>
    <Logging>
        <MaxSize>10240</MaxSize>
        <!-- error, warning, info, trace, verbose -->
        <Level>verbose</Level>
    </Logging>
    <SystemSettings>
        <Setting key="log.append" value="true" />
        <!-- Standard file system on AIX -->
        <Setting key="software.scan.lpp" value="true" />
        <!-- Standard file system on Solaris 11 -->
        <Setting key="software.scan.ips" value="true" />
        <!-- Standard file system on Solaris 10 and pervious versions -->
        <Setting key="software.scan.srv4" value="true" />
        <!-- Standard file system on HP-UX -->
        <Setting key="software.scan.sd" value="true" />
        <!-- Scan running processes -->
        <Setting key="software.scan.running_processes" value="true" />
    </SystemSettings>
</Configuration>