<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns="snowclient_settings.xsd">
<!-- Find guides how to use this template and the latest templates on https://github.com/SnowSoftwareGlobal/agent-configuration-templates-public -->
    <Agent>
        <SiteName></SiteName>
        <ConfigName></ConfigName>
    </Agent>
    <!-- Server end point settings to send snowpack file after agent scan -->
    <Server>
        <Endpoint>
            <Address></Address>
            <!-- Proxy settings to use for this endpoint -->
            <!--Proxy></Proxy-->
            <!-- The client certificate used to secure the connection between agent and server -->
            <ClientCertificate>
                <!-- The file name of a client certificate to use (relative the current installation location)-->
                <FileName></FileName>
                <!-- The password to use if the client certificate has been password protected -->
                <Password></Password>
            </ClientCertificate>
        </Endpoint>
    </Server>
    <!-- Delivery location for scan results -->
    <DropLocation>
        <Path/>
    </DropLocation>
    <!-- Configuration for File System scan-->
    <Software>
        <!-- default locations included in scan -->
        <Include>
            <!-- shortcuts -->
            <Path recursive="1">C:\Users\*\Microsoft\Windows\Start Menu\Programs\*</Path>
            <Path recursive="1">C:\Users\*\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\*</Path>
            <Path recursive="1">C:\ProgramData\Microsoft\Windows\Start Menu\*</Path>
            <Path recursive="1">C:\Users\*\AppData\*</Path>
            <Path recursive="1">C:\ProgramData\*</Path>
            <Path recursive="1">C:\Users\*\Desktop\*</Path>
            <Path recursive="1">C:\Users\*\Downloads\*</Path>
            <Path recursive="1">%temp%\*</Path>
            <Path recursive="1">%ProgramFiles%\*</Path>
            <Path recursive="1">%ProgramFiles(x86)%\*</Path>
        </Include>
        <!-- only files with the following extensions are included in scan -->
        <IncludeCriteria>
            <FileType>exe</FileType>
            <FileType>wfd</FileType>
            <FileType>wfi</FileType>
            <FileType>wtd</FileType>
            <FileType>wti</FileType>
            <FileType>sys2</FileType>
            <FileType>lnk</FileType>
        </IncludeCriteria>
        <!-- default locations that are excluded from scan -->
        <Exclude>
            <Path>%windir%\*</Path>
        </Exclude>
    </Software>
    <Meter>
        <Exclude>
            <Path>%windir%\*</Path>
        </Exclude>
        <Span>
            <StartTime>PT00H00M</StartTime>
            <EndTime>PT23H59M</EndTime>
        </Span>
        <Occurance>
            <Weekday>monday</Weekday>
            <Weekday>tuesday</Weekday>
            <Weekday>wednesday</Weekday>
            <Weekday>thursday</Weekday>
            <Weekday>friday</Weekday>
            <Weekday>saturday</Weekday>
            <Weekday>sunday</Weekday>
        </Occurance>
    </Meter>
    <Schedule>
        <Task>
            <Occurance>
                <AtStart>false</AtStart>
                <Daily>true</Daily>
            </Occurance>
            <Action>scan</Action>
            <TimeOfDay>09:00:00</TimeOfDay>
            <Randomize>60</Randomize>
        </Task>
    </Schedule>
    <!-- Scanning for Oracle databases, requires SIOS  -->
    <!-- <Oracle enabled="true">
        <DefaultInstanceCredentials>
            <UserName></UserName>
            <Password></Password>
        </DefaultInstanceCredentials>
        <Include>
            <AllInstances>true</AllInstances>
        </Include>
    </Oracle> -->
    <Logging>
        <MaxSize>1024</MaxSize>
        <!-- error, warning, info, trace, verbose -->
        <Level>error</Level>
    </Logging>
    <SystemSettings>
        <!-- Check for updates every 6 hours -->
        <Setting key="http.poll_interval" value="21600"/>
        <Setting key="http.poll_variance" value="300"/>
        <!-- Verify the Server Certificate - ONLY USE IF HTTPS -->
        <!-- <Setting key="http.ssl_verify" value="true" /> -->
        <!-- Time to live for all powershell scripts in milliseconds -->
        <Setting key="env.powershell_timeout" value="300000"/>
        <Setting key="powershell.enabled" value="true"/>
        <Setting key="wmi.poll_interval" value="5"/>
        <Setting key="send.max_scan_result_backlog_count" value="90"/>
        <Setting key="log.append" value="false"/>
        <Setting key="metering.is_enabled" value="true"/>
        <Setting key="legacy_webmetering.is_enabled" value="false"/>
        <!-- <Setting key="saas.edge.enabled" value="true" /> -->
        <!-- <Setting key="saas.chrome.enabled" value="true" /> -->
        <!-- <Setting key="saas.firefox.enabled" value="true" /> -->
        <!-- Java executable to run SIOS.jar, configure if java.exe is not in the PATH -->
        <!-- <Setting key="env.java_home" value="java\bin\java.exe" /> -->
        <!-- <Setting key="env.is_virtual_desktop_infrastructure" value="false" /> -->
        <!-- <Setting key="disable_all_updates" value="false" /> -->
    </SystemSettings>
</Configuration>