<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
<!-- Find guides how to use this template and the latest templates on https://github.com/SnowSoftwareGlobal/agent-configuration-templates-public -->
    <Agent>
        <SiteName></SiteName>
        <ConfigName></ConfigName>
    </Agent>
    <!-- Server end point settings to send snowpack file after agent scan -->
    <Server>
        <Endpoint>
            <Address></Address>
            <!-- Proxy settings to use for this endpoint -->
            <!--Proxy></Proxy-->
            <!-- The client certificate used to secure the connection between agent and server -->
            <ClientCertificate>
                <!-- The file name of a client certificate to use (relative the current installation location)-->
                <FileName></FileName>
                <!-- The password to use if the client certificate has been password protected -->
                <Password></Password>
            </ClientCertificate>
        </Endpoint>
    </Server>
    <!-- Delivery location for scan results -->
    <DropLocation>
        <Path/>
    </DropLocation>
    <!-- Configuration for File System scan-->
    <Software>
        <Include>
            <Path recursive="true" unconditionally="false">/Applications/*</Path>
            <Path recursive="true" unconditionally="false">/Library/Application Support/*</Path>
            <Path recursive="true" unconditionally="false">/System/Cryptexes/App/System/Applications/*</Path>
        </Include>
        <Exclude>
            <Path>*.js</Path>
        </Exclude>
    </Software>
    <Logging>
        <MaxSize>10240</MaxSize>
        <!-- error, warning, info, trace, verbose -->
        <Level>verbose</Level>
    </Logging>
    <SystemSettings>
        <!-- Running processes -->
        <Setting key="software.scan.running_processes" value="true"/>
        <!-- Scan jar files metadata -->
        <Setting key="software.scan.jar" value="true"/>
        <!-- Check for server certificate -->
        <!-- <Setting key="http.ssl_verify" value="false"/> -->
        <!-- <Setting key="saas.edge.enabled" value="true" /> -->
        <!-- <Setting key="saas.chrome.enabled" value="true" /> -->
        <!-- <Setting key="saas.firefox.enabled" value="true" /> -->
        <!-- Append the log files -->
        <Setting key="log.append" value="false"/>
        <!-- Storage folder for snowpacks -->
        <Setting key="env.data_dir" value="data/"/>
        <!-- Logging folder for snowagent.log -->
        <Setting key="env.log_dir" value="data/"/>
        <!-- <Setting key="disable_all_updates" value="false" /> -->
    </SystemSettings>
</Configuration>
