<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
<!-- READ ME FIRST! 
How to use these templates: 
  0. make sure to have the appropriate information:
	a. AN INCORRECT CONFIGURATION WILL RESULT IN THE AGENT NOT WORKING!
	b. this template is just a template, it's not build to work in any and every scenario!
	c. refer to https://docs.snowsoftware.com/snow-inventory/en/UUID-ce94c76d-8eff-efaf-77b1-54ef5e1b04f1.html for more information on the agent configuration file
  1. fill in all the info that are relevant to the specific configuration
  2. it is recommended to remove the unused/empty sections (usually you don't want to have <tags> open and closed without content)
  3. check the commented sections, remove comments where appropriate to enable that section of the configuration, add comments to disable it
	a. keep in mind that xml files do not allow nested comments
  4. keep in mind that xml files are case sensitive (<Oracle> is NOT the same as <oracle>)
  5. remove this comment before packing the agent
-->
	<Agent>
		<SiteName></SiteName>
		<ConfigName></ConfigName>
	</Agent>
	<!-- Server end point settings to send snowpack file after agent scan -->
	<Server>
		<Endpoint>
			<Address></Address>
			<!-- Proxy settings to use for this endpoint -->
			<Proxy></Proxy>
			<!-- The client certificate used to secure the connection between agent and server -->
			<ClientCertificate>
				<!-- The file name of a client certificate to use (relative the current installation location)-->
				<FileName></FileName>
				<!-- The password to use if the client certificate has been password protected -->
				<Password></Password>
			</ClientCertificate>
		</Endpoint>
	</Server>
	<!-- Delivery location for scan results -->
	<DropLocation>
		<Path/>
	</DropLocation>
	
	<!-- Configuration for File System scan-->
	<Software>
		<Include>
			<Path recursive="true" unconditionally="false">/Applications/*</Path>
			<Path recursive="true" unconditionally="false">/Library/Application Support/*</Path>
		</Include>
		<Exclude>
			<Path>*.js</Path>
		</Exclude>
	</Software>
	<Logging>
		<MaxSize>1024</MaxSize>
		<!-- error, warning, info, trace, verbose -->
		<Level>error</Level>
	</Logging>
	<SystemSettings>
		<!-- Running processes -->
		<Setting key="software.scan.running_processes" value="true"/>
		<!-- Scan jar files metadata -->
		<Setting key="software.scan.jar" value="true"/>
		
		<!-- Check for server certificate -->
		<!-- <Setting key="http.ssl_verify" value="false"/> -->
		
		<!-- <Setting key="saas.ie11.enabled" value="false" /> -->
		<!-- <Setting key="saas.edge.enabled" value="true" /> -->
		<!-- <Setting key="saas.chrome.enabled" value="true" /> -->
		<!-- <Setting key="saas.firefox.enabled" value="true" /> -->
		
		<!-- Append the log files -->
		<Setting key="log.append" value="false"/>
		<!-- Storage folder for snowpacks -->
		<Setting key="env.data_dir" value="data/"/>
		<!-- Logging folder for snowagent.log -->
		<Setting key="env.log_dir" value="data/"/>

		<!-- <Setting key="disable_all_updates" value="false" /> -->
	</SystemSettings>
</Configuration>