<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="snowclient_settings.xsd">
<!-- READ ME FIRST! (yes, the whole of this comment)
How to use these templates:
    0. make sure to have the appropriate information from the customer and understanding of the agent configuration (refer to KB0011929 and KB0012770 or later versions)
        a. AN INCORRECT CONFIGURATION WILL RESULT IN THE AGENT NOT WORKING!
        b. this template is just a template, it's not build to work in any and every scenario!
    c. if unsure, use the Snow Inventory Admin Console to generate the agent configuration and then export it
    1. fill in all the info that are relevant to the customer's configuration
    2. you NEED to use the Snow Inventory Admin Console to generate any configuration that involve passwords
        a. (they will be encrypted and the Admin Console is the only tool available for that)
    3. remove the unused/empty sections (usually you don't want to have <tags> open and closed without content)
    4. check the commented sections, remove comments where appropriate to enable that section of the configuration, add comments to disable it
        a. keep in mind that xml files do not allow nested comments
    5. keep in mind that xml files are case sensitive (<Oracle> is NOT the same as <oracle>)
    6. remove this comment before packing the agent
-->
    <Agent>
        <SiteName></SiteName>
        <ConfigName></ConfigName>
    </Agent>
    <!-- Server end point settings to send snowpack file after agent scan -->
    <Server>
        <Endpoint>
            <Address></Address>
            <!-- Proxy settings to use for this endpoint -->
            <Proxy></Proxy>
            <!-- The client certificate used to secure the connection between agent and server -->
            <ClientCertificate>
                <!-- The file name of a client certificate to use (relative the current installation location)-->
                <FileName></FileName>
                <!-- The password to use if the client certificate has been password protected -->
                <Password></Password>
            </ClientCertificate>
        </Endpoint>
    </Server>
    <!-- Delivery location for scan results -->
    <DropLocation>
        <Path/>
    </DropLocation>
    <!-- Configuration for File System scan-->
    <Software>
        <Include>
            <Path recursive="true" unconditionally="false">/*</Path>
        </Include>
        <IncludeCriteria enabled="true">
            <FileType>ELF*executable*</FileType>
        </IncludeCriteria>
        <Exclude>
            <!-- Normal temporary directories on Unix systems. -->
            <Path>/tmp*</Path>
            <Path>/var/tmp*</Path>
            <!-- Oracle audit files can be numerous. -->
            <Path>*/oracle/*/audit*</Path>
            <!-- Common non-relevant file extensions -->
            <Path>*.au</Path>
            <Path>*.bmp</Path>
            <Path>*.bmu</Path>
            <Path>*.cfg</Path>
            <Path>*.class</Path>
            <Path>*.conf</Path>
            <Path>*.csm</Path>
            <Path>*.css</Path>
            <Path>*.dic</Path>
            <Path>*.enc</Path>
            <Path>*.gif</Path>
            <Path>*.h</Path>
            <Path>*.htm</Path>
            <Path>*.html</Path>
            <Path>*.jpg</Path>
            <Path>*.js</Path>
            <Path>*.log</Path>
            <Path>*.mo</Path>
            <Path>*.mof</Path>
            <Path>*.packlist</Path>
            <Path>*.pcf</Path>
            <Path>*.pc</Path>
            <Path>*.pf</Path>
            <Path>*.pl</Path>
            <Path>*.png</Path>
            <Path>*.po</Path>
            <Path>*.properties</Path>
            <Path>*.rdf</Path>
            <Path>*.sdl</Path>
            <Path>*.so</Path>
            <Path>*.sql</Path>
            <Path>*.ttf</Path>
            <Path>*.txe</Path>
            <Path>*.txt</Path>
            <Path>*.utf8</Path>
            <Path>*.xml</Path>
            <Path>*.xpt</Path>
            <Path>*.zip</Path>
        </Exclude>
    </Software>
    <!-- Scanning for Oracle databases, requires SIOS  -->
    <!-- <Oracle enabled="true">
        <DefaultInstanceCredentials>
            <UserName></UserName>
            <Password></Password>
        </DefaultInstanceCredentials>
        <Include>
            <AllInstances>true</AllInstances>
        </Include>
    </Oracle> -->
    <Logging>
        <MaxSize>10240</MaxSize>
        <!-- error, warning, info, trace, verbose -->
        <Level>verbose</Level>
    </Logging>
    <SystemSettings>
        <!-- Running processes -->
        <Setting key="software.scan.running_processes" value="true"/>
        <!-- Scan jar files metadata -->
        <Setting key="software.scan.jar" value="true"/>
        <!-- Scan package manager for software inventoring on Debian, SUSE, Ubuntu -->
        <Setting key="software.scan.dpkg" value="true"/>
        <!-- Scan package manager for software inventoring on RedHat and CentOS-->
        <Setting key="software.scan.rpm" value="true"/>
        <!-- Attempt to find bind mounts and add these to the list of directories to be ignored -->
        <Setting key="software.scan.ignore_bind_mounts" value="true"/>
        <!-- Attempt to find detect autofs mounts and add these to the list of directories to be ignored -->
        <Setting key="software.scan.ignore_autofs_mounts" value="true"/>
        <!-- Check for server certificate -->
        <!-- <Setting key="http.ssl_verify" value="true"/> -->
        <Setting key="log.append" value="false"/>
        <!-- Storage folder for snowpacks -->
        <Setting key="env.data_dir" value="data/"/>
        <!-- Logging folder for snowagent.log -->
        <Setting key="env.log_dir" value="data/"/>
        <!-- Java executable to run SIOS.jar -->
        <!-- <Setting key="env.java_home" value="java/bin/java"/> -->
        <!-- <Setting key="disable_all_updates" value="false" /> -->
    </SystemSettings>
</Configuration>